.wrapper {
  padding: 8% 10%;
  background-color: #151619;
  color: #fff;
}

.container {
  max-width: 1920px;
}

.mainImage {
  position: relative;
  width: 700px;
  height: 700px;
  margin: 30px auto;
}

.solutionImage {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto 10px;
  border-radius: 25px;
  overflow: hidden;
}

.maintitle {
  font-size: 35px;
}

.subTitle {
  margin-top: 15px;
  font-size: 18px;
}

.summary {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 16px;
}

.summary > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summaryName {
  font-size: 14px;
}

.summaryInfo {
  font-size: 18px;
}

.summaryIndicators {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.indicatorValue {
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
}

.indicatorName {
  text-align: center;
}

.blockTitle {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.decoredTitle {
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 920px) {
  .mainImage {
    width: 400px;
    height: 400px;
  }

  .solutionImage {
    width: 450px;
    height: 300px;
  }

  .maintitle {
    font-size: 30px;
  }

  .subTitle {
    font-size: 16px;
  }

  .summary {
    grid-template-columns: repeat(2, auto);
    row-gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .mainImage {
    width: 300px;
    height: 300px;
  }

  .solutionImage {
    width: 350px;
    height: 233px;
  }

  .maintitle {
    font-size: 25px;
  }

  .summaryInfo {
    font-size: 16px;
  }
}

@media screen and (max-width: 470px) {
  .mainImage {
    width: 250px;
    height: 250px;
  }

  .solutionImage {
    width: 250px;
    height: 180px;
  }

  .maintitle {
    font-size: 18px;
  }

  .blockDescription {
    font-size: 14px;
  }
}
